.vscode

# Pastas de imagens geradas
Resize/
Thumbnail/
Watermark/

# Executáveis
*.elf

# A pasta das imagens
Images/

# Os ficheiros de estatísticas
*.csv
ap-paralelo-simples/ap-paralelo-simples
ap-paralelo-simples.zip
esquema-relatorio(3).pdf:Zone.Identifier
