.vscode

# Pastas de imagens geradas
Resize/
Thumbnail/
Watermark/

# Executáveis
ap-paralelo-simples/ap-paralelo-simples
ap-paralelo-complexo/ap-paralelo-complexo
ap-paralelo-dinamico/ap-paralelo-dinamico
ap-paralelo-pipeline/ap-paralelo-pipeline

# A pasta das imagens
Images/

# Os ficheiros de estatísticas
*.csv

# Outros
*.zip
